<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Aditya Avanth, mail me at <span style="text-decoration:underline;">aditya.avanth@gmail.com</span>
    </small>

    <nav>
      <ul>
        <li><%= link_to 'About me', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
