<div class="container">
  <footer class="footer">
    <small>
      Based on Udemy course <a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/">The Complete Ruby on Rails Developer Course</a>
      Containerized, Kubernetized, and Jenkinsized by <a href="https://hub.docker.com/u/avantaditya">Aditya Avanth</a>
    </small>

    <nav>
      <ul>
        <li><%= link_to 'About me', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
